<!-- Content -->
<div class="page-content-wrapper">
  <div class="page-content-wrapper-inner">
    <div class="content-viewport">
      <div class="row mb-4">
        <div class="col-md-8">
          <div class="card bg-dark text-black">
            <img src="https://www.kibrispdr.org/data/wallpaper-sunset-hd-7.jpg" class="card-img" alt="...">
          </div>
        </div>
        <div class="col-md-4">
          <div class="card rounded-1 text-black bg-light">
            <div class="card-body">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium exercitationem consectetur blanditiis nulla quasi non veniam! Nam, voluptates quos mollitia eligendi pariatur, ex necessitatibus quaerat beatae quasi veniam, commodi neque.
            </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="card rounded-1 mb-3 text-black bg-light">
            <div class="card-header">Article data</div>
            <div class="card-body">
              <h1 class="text-center"><%= data %> </h1>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card rounded-1 mb-3 text-black bg-light">
            <div class="card-header">User Data</div>
            <div class="card-body">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium exercitationem consectetur blanditiis nulla quasi non veniam! Nam.
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card rounded-1 mb-3 text-black bg-light">
            <div class="card-header">User Active</div>
            <div class="card-body">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium exercitationem consectetur blanditiis nulla quasi non veniam! Nam.
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card rounded-1 mb-3 text-black bg-light">
            <div class="card-header">Header</div>
            <div class="card-body">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium exercitationem consectetur blanditiis nulla quasi non veniam! Nam.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>