<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard | Create</title>
    <link rel="stylesheet" href="public/assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <link rel="stylesheet" href="public/assets/css/main-style.css">
    <link rel="stylesheet" href="public/assets/css/style.css">
    <link rel="shortcut icon" href="public/asssets/images/favicon.ico" />
    <link rel="stylesheet" href="public/assets/css/trix.css">
    <script src="public/assets/js/trix.js"></script>
</head>
<body>
  <%- body %> 
  <script src="public/assets/js/core.js"></script>
  <script src="public/assets/js/dashboard.js"></script>
</body>
</html>