<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="TechtoLove">
  <meta name="description" content="The website to share your knowledge about progrmming and all of things">
  <meta name="keywords" content="techtolove,Tech To Love,blog, article,artikel, pemrograman, programming,blog,javascript,programming language,learn programming">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <link rel="stylesheet" href="/public/dashboard/assets/css/tailwind.output.css" />
  <script src="/public/assets/vendors/pace-1.2.4/pace.min.js"></script>
  <link rel="stylesheet" href="/public/assets/vendors/pace-1.2.4/flash.css">
  <!-- trix-editor -->
  <link rel="stylesheet" href="/public/assets/css/trix.css">
  <script src="/public/assets/js/trix.js"></script>
  <title>Create | TechtoLove</title>
</head>
<body class="bg-white dark:bg-gray-900">
  <%- body %>
</body>
</html>