<section style="padding-top: 7rem;">
  <div class="row">
    <div class="col-md-6">
      <h3>Report your problem</h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde eligendi provident dignissimos? Tenetur inventore soluta numquam eius aspernatur beatae, ex officia quae commodi nihil. Quae corporis repudiandae rerum facere facilis!
    </div>
    <div class="col-md-6">
      <form action="/report" method="post">
        <div class="mb-3">
          <label for="username" class="form-label">Name or Username</label>
          <input type="text" class="form-control" id="username" name="username">
        </div>
         <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="row">
          <div class="col-6">
            <div class="mb-3 d-flex align-items-center gap-1">
              <input type="checkbox" class="form-check-input p-1" id="c1" name="p1">
              <label for="c1" class="form-label">Respon website to slow</label>
            </div>
            <div class="mb-3 d-flex align-items-center gap-1">
              <input type="checkbox" class="form-check-input p-1" id="c2" name="p2">
              <label for="c2" class="form-label">Bug in some features</label>
            </div>
            <div class="mb-3 d-flex align-items-center gap-1">
              <input type="checkbox" class="form-check-input p-1" id="c3" name="p3">
              <label for="c3" class="form-label">Can't Login or Register</label>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3 d-flex align-items-center gap-1">
              <input type="checkbox" class="form-check-input p-1" id="c4" name="p4">
              <label for="c4" class="form-label">Can't Access my Account</label>
            </div>
            <div class="mb-3 d-flex align-items-center gap-1">
              <input type="checkbox" class="form-check-input p-1" id="c5" name="p5">
              <label for="c5" class="form-label">UI UX</label>
            </div>
            <div class="mb-3 d-flex align-items-center gap-1">
              <input type="checkbox" class="form-check-input p-1" id="c6" name="p6">
              <label for="c6" class="form-label">Other</label>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Descrption</label>
          <textarea class="form-control" id="descriptiows="3" name="description" style="height: 200px;"></textarea>
        </div>
        <div class="d-grid d-md-flex justify-content-md-end">
          <button class="btn btn-success rounded-pill px-4" type="submit">Send</button>
        </div>
      </form>
    </div>
  </div>
</section>